@import "./../../style/color.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $blue-main;
    height: 50px;
    width: 100%;
    position: fixed;
    padding: 5px 10px;
    z-index: 3;

    .nav {
        width: 20%;
        display: flex;
        justify-content: space-around;
        font-size: 16px;
    }
}