* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 400px) {
    font-size: 8px;
  }

  @media (max-width: 600px) {
    font-size: 10px;
  }
  @media (max-width: 800px) {
    font-size: 12px;
  }
}

body {
  background-color: #dfe4e7;
}
